*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.line {
    height: 1.5px;
    width: 100%;
    background-color: #DDDDDD;
    margin-bottom: 12px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

nav a {
    color: #888888;
}

.agendamento {
    display: flex;
    justify-content: center;
    height: 134px;
    width: 388px;
    border: solid 1px #dddddd;
    border-radius: 5px;
    gap: 62px;
}

.no-agendamento {
    color: #888;
    font-style: italic;
}