*{
    padding: 0px;
    margin: 0px;
}

input {
    height: 54px;
    width: 388px;
    border-radius: 5px;
    border: solid 1px #dddddd;
}

form button {
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 388px;
    background-color: black;
    color: white;
}