*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
}

.img-hero{
    width: 45%;
}

.info{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 65px;
    width: 65px;
}

h1{
    text-align: center;
    margin-top: 32px;
}

p{
    text-align: center;
    color: #888888;
    margin-top: 16px;
}

.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

button{
    height: 60px;
    width: 388px;
    border-radius: 5px;
}

.login{
    color: white;
    background-color: black;
    border: none;
}

.register{
    color: black;
    background-color: white;
    margin-top: 16px;
    border: solid 1px black;
}



@media (max-width: 428px){

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-hero{
    height: 100%;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    margin-top: -120px;
}
}